%table.table.table-striped.table-bordered.table-hover.table-condensed
  %tr
    %th id
    %th Word
    %th Meaning
    %th{colspan: 3} Actions

  - dictionaries.each do |dictionary|
    %tr
      %td= dictionary.id
      %td= dictionary.word
      %td= dictionary.meaning
      %td= link_to 'Show', dictionary
      %td= link_to 'Edit', edit_dictionary_path(dictionary)
      %td= link_to 'Destroy', dictionary, method: :delete, data: { confirm: 'Are you sure?' }
