= form_for(@dictionary, html: { class: "form-horizontal", role: "form" }) do |f|
  = render 'shared/error_messages', model: @dictionary

  .form-group.field
    = f.label :word, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :word, class: "form-control"
  .form-group.field
    = f.label :meaning, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :meaning, class: "form-control"
  .form-group.field
    .col-sm-offset-2.col-sm-10
      = f.submit 'Save', class: "btn btn-default btn-success"
